@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --d-blue: #0067a3;
  --bg-blue: #0079bf;
  --text-grey: #5e6c85;
  --card-bg-grey: #dedfe3;
  --selection-grey: #dedede;
}

body {
  background-color: rgb(0 121 191);
  font-family: "Rodoto", sans-serif;
}
